.navbar-start{
    .navbar-item{
        &:hover{
            background: #FFC200 !important;
            color: black !important;
        }

        &:focus{
            background: none;
        }
    }
}
.navbar-menu{

    @media (max-width: 769px){
        background: black !important;
    }
}

.navbar-grey{
    background: #3a3a3a !important;
}