.banner-home{
    background-image: url('../../media/banner_homepage.png');

    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}

.roadmap-list{
    li figure, li span{
        display: inline-block;
    }

}

.bg-gradient{
    background: linear-gradient(0deg, rgba(14,19,25,0.5) 0%, rgba(53,19,60,0) 100%);
}

.banner-banana{
    background-image: url('../../media/bananas.png');
    background-size:contain;
    background-position:center;

}

.mint-panel{
    background: rgba(white, 0.05) !important;
    backdrop-filter: blur(8px);
}

.centered-mobile{
    @media (max-width: 769px){
        width: auto !important;
        img{
            width: 95% !important;
        }
    }
}
