.banner-home{
    background-image: url('https://drive.google.com/uc?export=view&id=1hqK9CVahOsLUDIyB5ol-7sE5YsUV92qT');
    background-size:contain;
    background-position:center;
}

.roadmap-list{
    li figure, li span{
        display: inline-block;
    }

}

.bg-gradient{
    background: linear-gradient(0deg, rgba(14,19,25,1) 0%, rgba(53,19,60,0) 100%);
}

.banner-banana{
    background-image: url('../../media/bananasbanner.png');
    background-size:contain;
    background-position:center;
}
