.banner-home{
    background-image: url('../../media/clouds.png');
    background-size:contain;
    background-position:center;
}

.roadmap-list{
    li figure, li span{
        display: inline-block;
    }

}

.bg-gradient{
    background: linear-gradient(0deg, rgba(14,19,25,1) 0%, rgba(53,19,60,0) 100%);
}

.banner-banana{
    background-image: url('../../media/bananas.png');
    background-size:contain;
    background-position:center;
}

.mint-panel{
    background: rgba(white, 0.1) !important;
    backdrop-filter: blur(8px);
}
